.cancel-btn {
  margin: 15px 0;
}

.table-container {
  width: 75%;
  margin: 0 auto;
}

table, th, td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  margin-right: 0;
}

th {
  text-align: center;
}

th, td {
  padding: 5px 10px;
}

.arrow-up, .arrow-down {
  cursor: pointer;
}

.page-navigation {
  margin-top: 10px;
  text-align: center;
}
